<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student Management</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Bãi đỗ xe</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/car}">Danh sách xe</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/baido}">Bãi đỗ</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/carParking}">Quản lý</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class="text-center"> Sửa</h1>
      <div class="card-body">
        <form th:action="@{/carUpdate/{id} (id =${car.carId})}" th:object="${car}" method="POST">
          <div class="form-group">
            <label>Biển số xe</label>
            <input
                    type="text"
                    name="bien"
                    th:field="*{bien}"
                    class="form-control"
                    placeholder="Biển số xe"
            />
          </div>
          <div class="form-group">
            <label>Màu xe</label>
            <input
                    type="text"
                    name="color"
                    th:field="*{color}"
                    class="form-control"
                    placeholder="Màu"
            />
          </div>

          <div class="form-group">
            <label>Hãng</label>
            <input
                    type="text"
                    name="hang"
                    th:field="*{hang}"
                    class="form-control"
                    placeholder="Hãng"
            />
          </div>

          <div class="box-footer">
            <button type="submit" class="btn btn-primary">
              Submit
            </button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>